@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


.fila {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

h3, p, button {
    font: x-large  'VT323', monospace;
}
  


.item-container {

    .link {
        color: black;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 60%;
        align-items: center;


        img {
            width: 80px;
        }

        .name {

            p {
                font: x-large  'VT323', monospace;
                margin-bottom: 0;
            }
        }
    }

    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-radius: 10px;
    margin: 15px 15px;
    box-shadow: 5px 5px 15px rgba(34, 34, 34, 0.326);
    background-color: rgb(255, 255, 255);
    height: 90px;


    .characteristics {
        
        display: flex;
        flex-direction: row;
        width: 40%;


        .characteristic {

            width: 60%;
            display: flex;
            flex-direction: row;
            padding: 5px;
            align-items: center;

            p {
                font: x-large  'VT323', monospace;
                margin: 0px 5px;
                margin-bottom: 0;
            }
        }
    }
}

// SINGLE PAGE POKEMON

.pokemon-name {
    text-align: center;
    font: x-large  'VT323', monospace;
    font-size: 3.5em;
    margin-top: 60px;
}

.image-container {
    display: flex;
    justify-content:center;    

    img{
        width: 250px;
        height: 250px;
    }

    button{
        border: none;
    }
}

.pokemon-description{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.282);
    border-radius: 10px;
    background-color: rgba(194, 194, 194, 0.879);

    p{
        margin-top: 15px;
        padding: 30px 15px;
        font: x-large  'VT323', monospace;
    }

}


.types {

    $grass: rgb(137, 250, 71);
    $poison: rgb(99, 41, 126);
    $fire: rgb(254, 92, 5);
    $flying:rgb(194, 255, 254);
    $bug: rgb(181, 251, 141);
    $water: rgb(45, 100, 253);
    $ground: rgb(128, 83, 28);
    $normal: rgb(217, 217, 217);
    $fairy: rgb(249, 170, 255);
    $fighting: rgb(105, 20, 20);
    $rock: rgb(63, 63, 63);
    $steel: rgb(160, 160, 160);
    $electric: rgb(241, 233, 2);  
    $ghost: rgb(16, 16, 16);
    $ice: rgb(79, 211, 255);
    $psychic: rgb(177, 40, 182);
    $dark:rgb(41, 41, 41);

    padding: 30px 15px;
    margin: 30px 0px;

    .types-list {

        .type-item {
            border-radius: 5px;
            margin: 4px;
            align-items: center;
            justify-content: center;

            span {
                margin-right: 5px;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: 1px solid rgb(168, 168, 168);
            }

            p {
                margin-bottom: 0px;
                padding-bottom: 5px;
            }

            // TYPES COLORS
            .normal {
                background-color: $normal;
            }

            .grass {
                background-color: $grass;
            }

            .poison {
                background-color: $poison;
            }

            .fire {
                background-color: $fire;
            }
           
            .flying {
                background-color: $flying;
            }
            
            .bug {
                background-color: $bug;
            }

            .water {
                background-color: $water;
            }
            
            .fairy {
                background-color: $fairy;
            }

            .ground {
                background-color: $ground;
            }

            .fighting {
                background-color: $fighting;
            }
            
            .rock {
                background-color: $rock;
            }

            .steel {
                background-color: $steel;
            }

            .electric {
                background-color: $electric;
            }

            .ice {
                background-color: $ice;
            }

            .ghost {
                background-color: $ghost;
            }

            .psychic{
                background-color: $psychic;
            }

            .dark{
                background-color: $dark;
            }

        }
    }

}

.error{
    margin-top: 100px;

    h1 {
        text-align: center;
    }

    img {
        margin-top: 30px;
    }
}
