.item-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-radius: 10px;
    margin: 15px 10px;
    box-shadow: 5px 5px 15px rgba(34, 34, 34, 0.326);
    background-color: rgb(255, 255, 255);
    border: 1px solid black;


}