.nav-pokemon {
    margin: 60px 0px;

    input {
        border: 1px solid rgb(225, 225, 225);
        border-radius: 5px;
        background-color: rgb(186, 186, 186);
        margin-right: 5px;
    }

    button {
        border: none;
        border-radius: 7px;
        box-shadow: 5px 5px 20px rgba(130, 130, 130, 0.604);
    }
}